body {
	margin: 0;
	overflow: hidden;
	background-color: hsl(0, 0%, 8%);
	// background-color: rgb(20, 20, 20);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}